# SPDX-License-Identifier: MPL-2.0

'''
This is a sample file
=====================

To begin, rename this file to credentials.py

Afterwards, add your sensitive data in the right side of the dictionary entries

Example:
    If the address is 10.100.0.1, then the url line will become
    credentials['pymongo_url']='10.100.0.1'

After finishing, you need to generate the JSON file with the data
    $ python credentials.py
'''

import json

# Initialize the dictionary for the JSON export
credentials={}

# Database login information for the PyMongo client
credentials['pymongo_url']='xxx.xxx.xxx.xxx'
credentials['pymongo_port']=1234 
credentials['pymongo_username']='user'
credentials['pymongo_password']='pass'
credentials['pymongo_database_name']='db_name'

# Names of the collections, this command will be executed to set them
credentials['meter_current_name'] = 'db.current_col_name'
credentials['meter_power_name'] = 'db.power_col_name'
credentials['meter_voltage_name']= 'db.voltage_col_name'

# Prediction server data
credentials['prediction_server_url']='xxx.xxx.xxx.xxx'

# Generate the JSON object
json_object=json.dumps(credentials,indent=4)

# Writing to credentials.json
with open("credentials.json", "w") as outfile:
    outfile.write(json_object)
