import json

credentials={}
credentials['pymongo_url']='xxx.xxx.xxx.xxx'
credentials['pymongo_port']=1234 
credentials['pymongo_username']='user'
credentials['pymongo_password']='pass'
credentials['pymongo_database_name']='db_name'
credentials['meter_current_name'] = 'db.current_col_name'
credentials['meter_power_name'] = 'db.power_col_name'
credentials['meter_voltage_name']= 'db.voltage_col_name'

json_object=json.dumps(credentials,indent=4)

# Writing to sample.json
with open("credentials.json", "w") as outfile:
    outfile.write(json_object)
